{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <a class="btn btn-dark mt-2" href="/login">Login</a>
        <br>
        <a class="btn btn-dark mt-2" href="/signup">Sign Up</a>
        <br>
        <a class="btn btn-dark mt-2" href="/home">Home</a>
        {% if uid != 'NU:L:L:L:L:L::::::::::::::::::::::::::::::::::::::L:::::::::::::::::::::::::L::::::::::::::' %}
            <h1>Hello, {{ uid }}</h1>
            <ul>
                {% for row in rows %}
                    <li>{{ row["userName"]  }} {{ row["userPassword"] }}</li>
                {% endfor %}
            </ul>
        {% endif %}        
    </div>

{% endblock %}